@import "_maps.scss";

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
};

@mixin media($breakpoint) {
    $size: map-get($map: $breakpoints, $key: $breakpoint);
    @if($size) {
        @media #{$size} {
            @content;
        }
    }
    @else {
        @error '"#{$breakpoint}" - blad';
    }
}