// colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey: rgb(188, 197, 198);
$mint: rgb(65, 153, 153);

// font
$primary-montserrat: 'Montserrat', sans-serif;
$secondary-montserrat: 'Hind Madurai', sans-serif;
$another-montserrat: 'Assistant', sans-serif;