@use "_variables" as brick ;
@import "_mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.button {
    @include flexbox;
    margin: 10px 10px 0 0;
    float: left;
    width: 20vw;
    border: none;
    border-radius: 10px;
    padding: 1.5vw;
    background-color: brick.$mint;
    font-size: 3.5vw;
    font-weight: 500;
    color: white;
    transition: 0.2s linear;
    i {
        margin-right: 1vw;
    }
    &:hover {
        cursor: pointer;
        background-color: brick.$hover-mint;
        margin: 5px 10px 0 0;
    }
    @include media(xsmall) {
        width: 15vw;
        margin: 10px 20px 0 0;
        padding: 0.7vw;
        font-size: 3.5vw;
        i {
            margin-right: 1vw;
        }
        &:hover {
            margin: 5px 20px 0 0;
        }
    }
    @include media(small) {
        width: 12vw;
        margin: 10px 20px 0 0;
        padding: 0.7vw;
        font-size: 2.5vw;
        i {
            margin-right: 1vw;
        }
        &:hover {
            margin: 5px 20px 0 0;
        }
    }
    @include media(medium) {
        width: 10vw;
        margin: 10px 20px 0 0;
        padding: 0.7vw;
        font-size: 2.5vw;
        i {
            margin-right: 0.8vw;
        }
        &:hover {
            margin: 5px 20px 0 0;
        }
    }
    @include media(large) {
        width: 11vw;
        margin: 10px 20px 0 0;
        padding: 0.5vw;
        font-size: 2.5vw;
        i {
            margin-right: 0.8vw;
        }
        &:hover {
            margin: 5px 20px 0 0;
        }
    }
    @include media(xlarge) {
        width: 9vw;
        margin: 10px 20px 0 0;
        padding: 0.5vw;
        font-size: 1.5vw;
        i {
            margin-right: 0.5vw;
        }
        &:hover {
            margin: 5px 20px 0 0;
        }
    }
    @include media(xxlarge) {
        width: 6vw;
        margin: 10px 20px 0 0;
        padding: 0.5vw;
        font-size: 1vw;
        i {
            margin-right: 0.5vw;
        }
        &:hover {
            margin: 5px 20px 0 0;
        }
    }
}

.button--active {
    background-color: brick.$activ-mint;
    font-weight: 800;
}

.main {
    @include flexbox;
    min-height: 100vh;
    background-image: url(../image/BackgroundVegetable.jpg);
}

.language {
    position: absolute;
    top: 0;
    right: 0;
}

.aplication {
    @include flexbox;
    flex-direction: column;
    margin-top: 0;
    @include media(small) {
        margin-top: 1vh;
    }
    @include media(medium) {
        margin-top: 2vh;
    }
    @include media(large) {
        margin-top: 4vh;
    }
    @include media(xlarge) {
        margin-top: 6vh;
    }
    @include media(xxlarge) {
        margin-top: 8vh;
    }
    .aplication__circle-external {
        @include flexbox;
        height: 80vw;
        width: 80vw;
        box-shadow: 0 0 100px rgba(0, 0, 0, 50%);
        border-radius: 50%;
        background-color: brick.$mint;
        @include media(xsmall) { 
            height: 60vw;
            width: 60vw; 
        }
        @include media(small) { 
            height: 50vw;
            width: 50vw; 
        }
        @include media(medium) { 
            height: 40vw;
            width: 40vw; 
        }
        @include media(large) { 
            height: 35vw;
            width: 35vw; 
        }
        @include media(xlarge) { 
            height: 30vw;
            width: 30vw; 
        }
        @include media(xxlarge) { 
            height: 25vw;
            width: 25vw; 
        }
        .aplication__circle-internal {
            @include flexbox;
            flex-direction: column;
            height: 90%;
            width: 90%;
            border: 5px solid brick.$white;
            border-radius: 50%;
            background-color: brick.$mint;
            .aplication__result {
                font-weight: 800;
                font-size: 10vw;
                color: brick.$white;
                @include media(xsmall) {
                    font-size: 7.5vw;
                }
                @include media(small) {
                    font-size: 6.5vw;
                }
                @include media(medium) {
                    font-size: 5vw;
                }
                @include media(large) {
                    font-size: 4.5vw;
                }
                @include media(xlarge) {
                    font-size: 4vw;
                }
                @include media(xxlarge) {
                    font-size: 3vw;
                }
            }
        }
    }
    .aplication__form {
        @include flexbox;
        flex-direction: column;
        gap: 2vw;
        margin: 5vw 0 5vw 0;
        box-shadow: 0 0 100px rgba(0, 0, 0, 50%);
        border-radius: 25px;
        background-color: brick.$mint;
        @include media(xsmall) { 
            gap: 2vw;
            margin: 5vw 0 1vw 0;
        }
        @include media(small) { 
            gap: 1.8vw;
            margin: 5vw 0 1vw 0;
        }
        @include media(medium) { 
            gap: 1.6vw;
            margin: 4vw 0 1vw 0;
        }
        @include media(large) { 
            gap: 1.4vw;
            margin: 3vw 0 1vw 0;
        }
        @include media(xlarge) { 
            gap: 1.2vw;
            margin: 2vw 0 1vw 0;
        }
        @include media(xxlarge) { 
            gap: 1vw;
            margin: 1.5vw 0 1vw 0;
        }
        .aplication__input {
            width: 70vw;
            border: none;
            border-radius: 50px; 
            padding: 1.5vw 0 1.5vw 0;
            text-align: center;
            font-size: 3vw;
            cursor: pointer;
            @include media(xsmall) { 
                width: 56vw;
                padding: 0.5vw 0 0.5vw 0;
                font-size: 1.9vw;
            }
            @include media(small) { 
                width: 46.4vw;
                padding: 0.5vw 0 0.5vw 0;
                font-size: 1.7vw;
            }
            @include media(medium) { 
                width: 36.8vw;
                padding: 0.5vw 0 0.5vw 0;
                font-size: 1.5vw;
            }
            @include media(large) { 
                width: 32.2vw;
                padding: 0.5vw 0 0.5vw 0;
                font-size: 1.2vw;
            }
            @include media(xlarge) { 
                width: 27.6vw;
                padding: 0.5vw 0 0.5vw 0;
                font-size: 1vw;
            }
            @include media(xxlarge) { 
                width: 20vw;
                padding: 0.5vw 0 0.5vw 0;
                font-size: 0.9vw;
            }
            &:required:invalid {
                color: brick.$inactive;
            }
            option {
                color: brick.$black;
            }
        }
        .aplication__grams {
            margin: 3vw 3vw 0 3vw;
            &::placeholder {
                color: brick.$inactive;
            }
            @include media(xsmall) { 
                margin: 2vw 2vw 0 2vw;
            }
            @include media(small) { 
                margin: 1.8vw 1.8vw 0 1.8vw;
            }
            @include media(medium) { 
                margin: 1.6vw 1.6vw 0 1.6vw;
            }
            @include media(large) { 
                margin: 1.4vw 1.4vw 0 1.4vw;
            }
            @include media(xlarge) { 
                margin: 1.2vw 1.2vw 0 1.2vw;
            }
            @include media(xxlarge) { 
                margin: 1vw 1vw 0 1vw;
            }
        }
        .aplication__second--product {
            margin-bottom: 3vw;
            @include media(small) { 
                margin-bottom: 2vw;
            }
            @include media(medium) { 
                margin-bottom: 1.6vw;
            }
            @include media(large) { 
                margin-bottom: 1.4vw;
            }
            @include media(xlarge) { 
                margin-bottom: 1.2vw;
            }
            @include media(xxlarge) { 
                margin-bottom: 1vw;
            }
        }
    }
}

